.tiktok-player {
  cursor: grabbing;
}

// footer ~ div.footer-guide {
//   display: none;
// }

.footer-guide {
  display: none !important;
}

.tiktok-bottom {
  bottom: 8px !important;
}

// .swiper-slide .sidebar {
//   bottom: 95px !important;
// }
